<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="og:title" content="<%= t 'meta.title' %>"/>
  <meta property="og:site_name" content="Iron Web 2013"/>
  <meta property="og:description" content="<%= t 'meta.description' %>"/>
  <meta property="og:image" content="/img/share-logo-1.png"/>
  <meta property="og:image" content="/img/share-logo-2.png"/>
  <meta property="og:image" content="/img/share-logo-3.png"/>
  <%= css :app %>
  <%= js  :app %>
  <title><%= t 'meta.title' %></title>
  <meta name="description" content="<%= t 'meta.description' %>" />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35981141-2']);
  _gaq.push(['_setDomainName', 'ironweb.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
  <div class="container">
    <nav class="meta">
      <div class="half-block menu-main">
        <a href="#project"><%= t 'sections.project.title' %></a>
        <a href="#stream"><%= t 'sections.stream.title' %></a>
        <a href="#medias"><%= t 'sections.medias.menu_title' %></a>
        <a href="#events"><%= t 'sections.events.title' %></a>
        <a href="#folks"><%= t 'sections.folks.title' %></a>
        <a href="#partners"><%= t 'sections.partners.title' %></a>
      </div>
      <div class="half-block menu-more">
        <a href="mailto:ironweb@webaquebec.org"><%= t 'nav.contact' %></a>
        <% if I18n.locale == :en %>
          <a class="language" href="/">Français</a>
        <% else %>
          <a class="language" href="/en">English</a>
        <% end %>
      </div>
    </nav>
    <header>
      <div class="half-inline logo">
        <h1><%= img '/img/header.png', width: '389', height: '96', alt: 'Iron Web 2013' %></h1>
      </div>
      <div class="half-inline headlines">
        <div class="headlines-container">
          <ul class="blocks icons">
            <li class="ico-map"><%= t 'headlines.location' %></li>
            <li class="ico-calendar"><%= t 'headlines.dates' %></li>
            <li class="ico-time"><%= t 'headlines.time' %></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="about">
      <div class="half-block">
        <h2><%= t 'sections.about.title' %></h2>
        <p><%= t 'sections.about.text' %></p>
      </div>
      <div class="half-block" id="project">
        <h2><%= t 'sections.project.title' %></h2>
        <p><%= t 'sections.project.text' %></p>
        <p><a href="https://www.facebook.com/webaquebec/"><%= t 'sections.project.facebook' %></a></p>
      </div>
    </section>
    <section class="stream" id="stream">
      <div class="row">
        <h2 class="half-block"><%= t 'sections.stream.title' %></h2>
        <div class="half-block tabs">
          <% @channels.each do |chan| %>        
            <a href="<%= "#{params[:url]}?channel=#{chan}#stream" %>" class="team reds<%= params[:channel].to_sym == chan ? ' active' : ''%>">
              <%= t "sections.stream.#{chan}" %></a>
          <% end %>
        </div>
      </div>
      <div class="stream">
        <!--
          <iframe src="http://cdn.livestream.com/embed/<%= params[:channel] %>?layout=3&autoPlay=true&width=904&height=400" width="904" height="400" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
        -->
      </div>
    </section>
    <section class="feed">
      <div class="half-block" id="medias">
        <h2><%= t 'sections.medias.title' %></h2>
        <p><%= t 'coming' %></p>
      </div>
      <div class="half-block" id="events">
        <h2><%= t 'sections.events.title' %></h2>
        <p><%= t 'coming' %></p>
      </div>
    </section>
    <section class="folks" id="folks">
      <h2><%= t 'sections.folks.title' %></h2>
      <% @folks.each do |team, teamates| %>
      <h3 class="center"><%= t "sections.folks.#{team}" %></h3>
      <ul class="plain contestants">
        <% teamates.each do |slug, infos| %>
        <li class="third-block">
          <span class="img"><%= img "/img/contestants/#{slug}.png", alt: infos[:name] %></span>
          <span class="details">
            <h4><%= infos[:name] %></h4>
            <h5><%= t "roles.#{infos[:role]}" %></h5>
            <% if infos[:company] %>
            <p><%= infos[:company] %></p>
            <% end %>
          </span>
        </li>
        <% end %>
      </ul>
      <% end %>
  
      <h3 class="center"><%= t 'sections.folks.jury' %></h3>
      <div class="judges">
        <div class="judge quarter-block">
          <%= img '/img/jury/dgupta.jpg', alt: 'Davender Gupta' %>
          <h4>Davender Gupta</h4>
          <p><a href="http://twitter.com/coachdavender">@coachdavender</a></p>
        </div>
        <div class="judge quarter-block">
          <%= img '/img/jury/jfournier.jpg', alt: 'Davender Gupta' %>
          <h4>Joanne Fournier</h4>
          <p><a href="http://twitter.com/jfournier">@jfournier</a></p>
        </div>
        <div class="judge quarter-block">
          <%= img '/img/jury/sgarneau.jpg', alt: 'Davender Gupta' %>
          <h4>Samuel Garneau</h4>
          <p><a href="http://twitter.com/garno">@garno</a></p>
        </div>
        <div class="judg quarter-block">
          <%= img '/img/jury/palalonde.jpg', alt: 'Pierre-Armand Lalonde' %>
          <h4>Pierre-Armand Lalonde</h4>
          <p><a href="http://twitter.com/palalonde">@palalonde</a></p>
        </div>
      </div>
    </section>
    <section class="partners" id="partners">
      <h2><%= t 'sections.partners.title' %></h2>
      <div class="partners-logos">
        <div class="half-inline">
          <a href="http://www.ville.quebec.qc.ca/"><%= img '/img/partners/quebec.png', alt: 'Ville de Québec' %></a>
        </div>
        <div class="half-inline secondary">
          <a href="http://www.bordeaux.fr/"><%= img '/img/partners/bordeau.png', alt: 'Ville de Bordeau, France' %></a>
          <a href="http://webaquebec.org/"><%= img '/img/partners/waq.png', alt: 'Web à Québec' %></a>
          <a href="http://www.eq3.com/ca/<%= I18n.locale.to_s %>/">
            <%= img '/img/partners/eq3.png', alt: 'EQ3, du mobilier moderne pour la vie de tous les jours.' %></a>
          <a href="http://www.bchunique.com/"><%= img '/img/partners/bchunique.png', alt: 'BCH Unique' %></a>
        </div>
      </div>
    </section>
  </div>
</body>
</html>