<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= css :app %>
    <%= js  :app %>
    <title><%= t 'meta.title' %></title>
    <meta name="description" content="<%= t 'meta.description' %>" />
  </head>
  <body>
    <%= img '/img/header.png' %>
  </body>
</html>